@import "tailwindcss";

@font-face {
    font-family: "Vazirmatn";
    src: url("/fonts/Vazirmatn-RD-Regular.woff2") format("woff2"),
         url("/fonts/Vazirmatn-Regular.woff") format("woff");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Vazirmatn";
    src: url("/fonts/Vazirmatn-RD-Bold.woff2") format("woff2"),
         url("/fonts/Vazirmatn-Bold.woff") format("woff");
    font-weight: bold;
  }
  
  body {
    font-family: "Vazirmatn", sans-serif;
  }
  



